/* header {
  font-family: roboto;
  background-color: #0e9fff;
  padding: 20px;
} */

body {
  font-family: roboto;
  background-color: #222222;
}

h1 {
  text-align: center;
  color: #000000;
  background-color: #0e9fff;
  padding: 50px;
  margin: -10px;
}

p {
  text-align: justify;
  color: #2f78ca;
  margin: 30px;
}

ul {
    list-style-type: square;
    list-style-position: inside;
    color: #ffffff;
}

.usacoSol {
    background-color: #e2e3e4;
    padding: 20px;
    margin: 30px;
}

.ending {
    background-color: #000000;
    color: #ffffff;
    text-align: justify;
    padding: 20px;
    margin: -10px;
}

.sectionHeader {
    background-color: #f84a4a;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin: 30px;
}