/* header {
  font-family: roboto;
  background-color: #0e9fff;
  padding: 20px;
} */

body {
  font-family: roboto;
  background-color: #222222;
}

h1 {
  text-align: center;
  color: #36ddab;
  background-color: #0e9fff;
  padding: 50px;
}

p {
  text-align: justify;
  color: #474646;
  margin: 20px;
}

ul {
    list-style-type: square;
    list-style-position: inside;
}